<% layout('layouts/boilerplate') %>
<title>Add New Place</title>
<div class="row">
    <h1 class="text-center">
        New Place
    </h1>
    <div class="col-6 offset-3">
        <form action="/places" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label"  for="kind">Kind:</label>
                <select class="form-select" name="kind" id="kind" >
                    <option value="cafe">Cafe</option>
                    <option value="restaurant">Restaurant</option>
                    <option value="playground">Playground</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" name="description" id="description" placeholder="Description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">İmage url:</label>
                <input class="form-control" type="text" id="image" name="image" placeholder="Image url" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-primary mt-3">Add Place</button>
        </form>
            <a href="/places">All Places</a>
        
        
    </div>
</div>

