<% layout('layouts/boilerplate') %>
<title>Page Not Found</title>
<div class="container" style="height: 550px">
    <div class="row">
        <div class="col-6 offset-3 mh-100" ></div>
            
            <h1 class="text-center alert-heading">Page could not ne found</h1>
            <h4 class="text-center mt-3">We are sorry. But the page you are looking for is not available.You can go back to places page</h4>
            <a href="/places" class="btn btn-primary m-auto mt-5 d-block w-25">Go Back to Places</a>
    </div>
    
</div>