<% layout('layouts/boilerplate') %>
<title>Home Page</title>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mb-5">
                <h1>Hello lovely traveller</h1>
                <p>You can check the places that we have posted in this webpage</p>
                <p>If you desire, you also can add some places.</p>
                <p>Please add your valuable review.It will make us more powerful.</p>
                <p>For donate, contact us by this phone number +123456789</p>
            </div>
            <div class="mt-5"></div>
            <div class="mt-5"></div>
        </div>
    </div>
    


